@import url(https://fonts.google.com/specimen/Roboto#standard-styles);

*{
  font-family: 'Roboto', sans-serif;
}
body{
  background: black; /*fundo preto*/

}
.inicial{
  margin-top: 15%;/*ajuste verticalmente "meio"*/
  display: block;/*ao iniciar a aplicação a div está visivel*/
}

.inicial header h1{
  color:#21EB00; /*cor do titulo"Contador"*/ 
  text-align: center;/*deixar  o texti horizontalmente no meio*/ 
  margin-bottom: 0;/*melhora a margem para com p*/
}
.inicial section{
  text-align: center;/*deixar  o texti horizontalmente no meio*/ 
  display: grid; /*colocar  cada elemento um em baixo do outro- coluna*/
  justify-content: center /*centraliza os elementos em coluna no centro */
}
.inicial section p{
  color: white;/*cor da letra "Informe uma data"*/
  margin-bottom: 8px ; /*distanciamento até o input da data*/
  font-size: 17px; /* tamanho da fonte */
}
.inicial section input{
  margin-bottom:  10px; /*distanciamento até o botão*/
  border-radius: 15px; /*borda redonda*/
  padding: 10px; /*tamanho do input*/
  width: 200px; /*largura do inpu*/
  background-color: #191A16;/*cor de fundo*/
  border: none;/*sem cor de borda*/
  color: white; /*cor da letra*/
  font-size: 15px;/*tamanho da letra*/ 
}
.inicial section button{
  border-radius: 15px; /*borda redonda*/
  padding: 10px;/*tamanho do botão*/
  background-color: #21EB00; /*cor de fundo*/
  border: none;/*sem cor de borda*/
  font-size: 16px; /*tamanho da fonte*/
  font-weight: bold; /*fonte em negrito*/
  transition: filter 0.5s; /*efeito ao colocar o mouse em cima*/
}
.inicial section button:hover {
  filter: brightness(0.7); /*efeito cor mudando ao colocar o mouse em cima*/
}

.secund{
display:none;/*ao iniciar a aplicação a div invisivel*/
}
.secund #top{
display: inline;
margin-bottom: 0px;
}
.secund #top h1{
  color:#21EB00; /*cor do titulo"Contador"*/ 
}
.secund #top button{
  border-radius: 15px; /*borda redonda*/
  padding: 10px;/*tamanho do botão*/
  background-color: #21EB00; /*cor de fundo*/
  border: none;/*sem cor de borda*/
  font-size: 16px; /*tamanho da fonte*/
  font-weight: bold; /*fonte em negrito*/
  transition: filter 0.5s; /*efeito ao colocar o mouse em cima*/
}
.secund #corp{
  text-align: center;/*deixar  o texti horizontalmente no meio*/ 
  margin-top: 10%;/*ajuste verticalmente "meio"*/
}
.secund p{
  color: #191A16;
  font-size: 50px;
  font-weight: bold
}
.secund .countdown span{
  font-size: 60px;
color: white;
}
.secund .countdown div{
  color: #21EB00;
}